<!-- Team Section -->
    <section id="profile" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Brief Introduction</h2>
                    <h3 class="section-subheading text-muted">A Data Admirer.</h3>
                </div>
            </div>

                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <div class="team-member center">

                            <img src="img/team/2.jpg" class="img-responsive img-circle center" alt="">

                        <h4>Chongshen (Ray) Ma</h4>
                        <p class="text-muted text-center"> I am a 2nd-year Master Candidate at the Language Technologies Institute (LTI)  of the School of Computer Science,  <span>Carnegie Mellon University</span>>. My advisor is John Vu and Eric Nyberg. I have broad interest in Machine Learning, Information Retrieval, and Software Engineering. I’m currently seeking for a full-time position after my graduation next year May, which utilizes my skills in data analytics and back-end development.
                        </p>
                        <ul class="list-inline social-buttons center">
                            <li><a href="https://github.com/machongshen" target="_blank"><i class="fa fa-github"></i></a>
                            <li><a href="https://www.linkedin.com/in/chongshenma" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <li><a href="http://www.weibo.com/u/1748654771" target="_blank"><i class="fa fa-weibo"></i></a>
                </ul></div>
                </div>
                    </div>

        </div>
    </section>